TOKEN=BOT_TOKEN
MONGO_DB=MONGO_URI
WEBHOOK_URL=webhook_url

COOLDOWN=true

BOT_JOIN_CHANNEL=channelid
BOT_LEAVE_CHANNEL=channelid
BOT_COMMAND_LOG_CHANNEL=channelid

OWNERS=ownerid1,ownerid2 //misc owners who can use owner-only commands and bypass cooldowns
NP_USERS=ownerid1,ownerid2 //users who can give np access 

INVITE_LINK=
BASE_TEXT=```ml\n<> - Required Argument | () - Optional Argument```
